{{#each this}}
<li class="movie-card">
    <img src="{{backdrop_path}}" alt="{{original-title}}" class="movie-card__image">
    <p class="movie-card__title">{{title}}</p>
<div class="movie-card__text">
    <P class="movie-card__genre">{{genre}}</p> 
    <p class="movie-card__year">{{release-date}}</p>
    <p class ="movie-card__rating">{{vote-average}}</p>
    </div>
</li>
{{/each}}