{{#each this}}
<li class="movie-card" id="{{id}}">
     {{#if poster_path}}
    <img src="https://www.themoviedb.org/t/p/w500{{poster_path}}" alt="{{original_title}}" class="movie-card__image">
    {{else}}
    <img src='https://upload.wikimedia.org/wikipedia/commons/c/c2/No_image_poster.png' alt="{{original_title}}" class="movie-card__image">
    {{/if}}
    <p class="movie-card__title">{{title}}</p>
<div class="movie-card__text">
   {{#if genre_name}}
    <ul class="movie-card__genre"><li class="genre__element">  {{genre_name.[0]}}</li>
    {{#if genre_name.[2]}}
        <li class="genre__element">  {{genre_name.[1]}}</li>
        {{/if}}
         {{#if genre_name.[3]}}
        <li class="genre__element"> Other  </li>
        {{else}}
 <li class="genre__element"> {{genre_name.[2]}}</li>
 {{/if}} 
  {{else}}
  <p>Other</p>
  {{/if}}
  
        <span>|</span>
    <p class="movie-card__year">{{release_date}}</p>
    </div>
</li>
{{/each}}