<div class="modal-details" id="{{id}}">
  
    <div class="modal-details_image-box">
        {{#if poster_path}}
        <img class="modal-details_image" src="https://www.themoviedb.org/t/p/w500{{poster_path}}"
            onerror="this.onerror=null;this.src='https://subscribenow.com.au/time/asia/Solo/Content/Images/noCover.gif'"
            alt="{{title}}" title="{{title}}" />
        {{/if}}
        {{#unless poster_path}}
        <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/c/c2/No_image_poster.png"
            alt="film photo">
        {{/unless}}
    </div>
      
      <div class="movie-details-data">
        <h2 class="movie-details-data_title">{{title}}</h2>
        <table class="movie-details-data_table">
          <tr>
            <td>Vote/Votes</td>
            <td><span>{{vote_average}}</span> / <span>{{vote_count}}</span></td>
          </tr>
          <tr>
            <td>Popularity</td>
            <td>{{popularity}}</td>
          </tr>
          <tr>
            <td>original Title</td>
            <td>{{original_title}}</td>
          </tr>
          <tr>
            <td>Genre</td>
           
            <td>  {{#if genres}}
                        {{#each genres}}
                        <span>{{this.name}}{{#unless @last}},{{/unless}}</span>
                        {{/each}}
                        {{else}}<span>N/A</span>
                        {{/if}}</td>
          </tr>
        </table>
        <p class="movie-details-data_description-title">ABOUT</p>
        <p class="movie-details-data_description">
       {{overview}}
        </p>
        <div class="modal-details_btn-box">
      <button class="modal-details_watched-button " data-id="{{id}}"><span>ADD TO</span> WATCHED</button>
      <button class="modal-details_queue-button " data-id="{{id}}"><span>ADD TO</span> QUEUE</button>
        </div>
      
      </div>
      
    </div>
